<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
  	  <!--
        body {
	      background-image: url(fadeback.jpg);
	      background-repeat: repeat-x;
        }
      -->
	</style>
    <title>GAIL Admin Settings for {{ domain }}</title>
    <link href="gail.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/icon" href="/favicon.ico" />
  </head>
  <body>
    <table width="650" border="0" align="center" cellpadding="10" bgcolor="#FFFFFF" class="border">
      <tr>
        <td colspan="2"><div align="center">
		  <a href="https://mail.google.com/a/{{ domain }}">
		  <image src="https://www.google.com/a/cpanel/{{ domain }}/images/logo.gif"
   		    alt="Google Apps Login" width="143" height="59" border="0">
		  </a><br />
          <hr noshade="noshade" size="1" />
        </div></td>
	  </tr>
	  <tr>
	    <td width="35%" valign="top"><p>GAIL Admin Settings for {{ domain }}.</p>
        <p>Configure GAIL's Settings here.</p>
      </td>
      <td width="65%" valign="top">
		    <div align="center">
          <p><strong>Basic Settings</strong></p>
        </div>
        <form name="chpass" action="https://{{ appspot_domain }}/gailadmin" method="post">
        <table width="100%" border="0" cellspacing="5">
          <tr>
            <td><div align="right">Google Apps Domain:</div></td>
            <td colspan="2">{{ domain }}</td>
          </tr>
          <tr>
            <td><div align="right">Admin Username: </div></td>
            <td><input type="text" tabindex="4" name="adminuser" size="30" value="{{ adminuser }}" /></td>
          </tr>
          <tr>
            <td><div align="right">Admin Password: </div></td>
            <td><input type="password" tabindex="4" name="adminpass" size="30" value="{{ adminpass }}" /></td>
          </tr>
          <tr>
            <td><div align="right">Admins can login as users</div></td>
            <td><input type="radio" name="adminsbecomeusers" value="True" {% ifequal adminsbecomeusers 'True' %}checked{% endifequal %}>Enabled <input type="radio" name="adminsbecomeusers" value="False" {% ifequal adminsbecomeusers 'False' %}checked{% endifequal %}>Disabled</td>
          </tr>
          <tr>
            <td><div align="right">Users can login as users</div></td>
            <td><input type="radio" name="usersbecomeusers" value="True" {% ifequal usersbecomeusers 'True' %}checked{% endifequal %}>Enabled <input type="radio" name="usersbecomeusers" value="False" {% ifequal usersbecomeusers 'False' %}checked{% endifequal %}>Disabled</td>
          </tr>
          <tr>
            <td><div align="right">Keys Match?</div></td>
            <td>{{ keymatch }}</td>
          </tr>
          <tr></tr>
          <tr>
            <td>
            </td>
            <td><input name="Save" tabindex="5" type="submit" value="Save">
            </td>
          </tr>
          <tr>
            <td>New Private Key: Generates a new private key that GAIL will use to sign requests.  Login will not work for users until "Update Google SSO Settings" is run so that Google Apps has the updated public key matching the new private key.</td>
         <td><input name="New Private Key" tabindex="7" type="button" onclick="window.location.href='/newprivkey'" value="New Private Key">
         </td>
         </tr>
         <tr>
           <td>Update Google SSO Settings: Sets Google SSO Settings in order to enable GAIL, also uploads the public key corresponding to the current private key.</td>
           <td><input name="Update Google SSO Settings" tabindex="8" type="button" onclick="window.location.href='/updategooglesso'" value="Update Google SSO Settings"></td>
         </tr>
         <tr>
           <td>Edit Templates: modify the HTML code of the login and password pages.</td>
           <td><input name="Edit Templates" type="button" onclick="window.location.href='/edittemplates'" value="Edit Templates"></td>
        </tr>
        </table>
        </form>
      </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <p><font color="{{ message_color }}">{{ message }}</font></p>
        </td>
      </tr>
    </table>
  </body>
</html>
