<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="refresh" content="{{ refresh }};url=https://mail.google.com/a/{{ domain }}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
  	  <!--
        body {
	      background-image: url(fadeback.jpg);
	      background-repeat: repeat-x;
        }
      -->
	</style>
    <title>Login to {{ domain }}</title>
    <link href="gail.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/icon" href="/favicon.ico" />
  </head>
  <body onload="document.f.username.focus();">
    <table width="650" border="0" align="center" cellpadding="10" bgcolor="#FFFFFF" class="border">
      <tr>
        <td colspan="2"><div align="center">
		  <a href="https://mail.google.com/a/{{ domain }}">
		  <image src="http://www.google.com/a/cpanel/{{ domain }}/images/logo.gif"
   		    alt="Google Apps Login" width="143" height="59" border="0">
		  </a><br />
          <hr noshade="noshade" size="1" />
        </div></td>
	  </tr>
	  <tr>
	    <td width="55%" valign="top"><p>Welcome to {{ domain }}.</p>
          <p><strong><Your message to users here></strong></p>
          <blockquote>
          <p>You can customize this text or this entire page by editing the file gail/templates/login.html</p>
        </td>
        <td width="45%" valign="top">
		  <div align="center">
            <p><strong>{{ domain }} Login</strong></p>
          </div>
        <form name="authform" action="/dologin" method="post">
        <table width="100%" border="0" cellspacing="5">
          <tr>
            <td><div align="right">Username:</div></td>
            <td colspan="2"><input type="text" tabindex="1" name="username" size="12"/></td>
          </tr>
          <tr>
            <td><div align="right">Password: </div></td>
            <td><input type="password" tabindex="2" name="password" size="12" /></td>
            <td>
			  <input name="Login" tabindex="3" type="submit" value="Login">
              <input type="hidden" name="SAMLRequest" value="{{ samlrequest }}"/>
              <input type="hidden" name="RelayState" value="{{ relaystate }}"/>
            </td>
            <td>
              <p><font color="red">{{ error }}</font></p>
            </td>
			  </td>
          </tr>
        </table>
        </form>
	  </td>
	</tr>
  </table>
  </body>
</html>
