<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
  	  <!--
        body {
	      background-image: url(fadeback.jpg);
	      background-repeat: repeat-x;
        }
      -->
	</style>
    <title>Change Password for {{ domain }}</title>
    <link href="gail.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/icon" href="/favicon.ico" />
  </head>
  <body onload="document.chpass.username.focus();">
    <table width="650" border="0" align="center" cellpadding="10" bgcolor="#FFFFFF" class="border">
      <tr>
        <td colspan="2"><div align="center">
		  <a href="https://mail.google.com/a/{{ domain }}">
		  <image src="https://www.google.com/a/cpanel/{{ domain }}/images/logo.gif"
   		    alt="Google Apps Login" width="143" height="59" border="0">
		  </a><br />
          <hr noshade="noshade" size="1" />
        </div></td>
	  </tr>
	  <tr>
	    <td width="55%" valign="top"><p>Change your password for {{ domain }}.</p>
        <p>Here you can change your account password.  This text can be changed by editing templates/password.html</p>
      </td>
      <td width="45%" valign="top">
		    <div align="center">
          <p><strong>Change Password</strong></p>
        </div>
        <form name="chpass" action="https://{{ appspot_domain }}/dopassword" method="post">
        <table width="100%" border="0" cellspacing="5">
          <tr>
            <td><div align="right">Username:</div></td>
            <td colspan="2"><input type="text" tabindex="1" name="username" size="12"/></td>
          </tr>
          <tr>
            <td><div align="right">Current Password: </div></td>
            <td><input type="password" tabindex="2" name="cpassword" size="12" /></td>
          </tr>
          <tr>
            <td><div align="right">New Password: </div></td>
            <td><input type="password" tabindex="3" name="npassword1" size="12" /></td>
          </tr>
          <tr>
            <td><div align="right">Confirm New Password: </div></td>
            <td><input type="password" tabindex="4" name="npassword2" size="12" /></td>
          </tr>
          <tr>
            <td colspan="2"><input name="Change Password" tabindex="5" type="submit" value="Change Password"><input name="Back to Login" tabindex="6" type="button" onclick="window.location.href='/'" value="Back to Login"></td>
          </tr>
        </table>
        </form>
      </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <p><font color="{{ color }}">{{ message }}</font></p>
        </td>
      </tr>
    </table>
  </body>
</html>